<!DOCTYPE html>
<html layout:decorator="layout/module" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<th:block layout:fragment="layout">

    <div class="container">
        <form th:action="@{/login}" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please login</h2>
            <select class="selectpicker" name="username">
                <option th:each="login : ${logins}" th:value="${login.getSurname()}" th:text="${login.getSurname()}"></option>
            </select>
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <div><input class="btn btn-primary btn-block" type="submit" value="Sign In"/></div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

        </form>
    </div>
</th:block>
</body>
</html>