<!DOCTYPE html>
<html layout:decorator="layout/module" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block layout:fragment="layout">

<div class="col-sm-4 col-md-4 col-md-offset-4">
<form th:action="@{/login}" method="post" class="form-horizontal">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Login" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
    <div><input class="btn btn-large btn-primary" type="submit" value="Sign In"/></div>
</form>
</div>
</th:block>
</body>
</html>